<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="container">
<h2>Database Results</h2>

<ul>
    <% if(response!=null){ %>    
    <% response.forEach(function(r) { %>
        <li><%= r.slug %> - <%= r %></li>
    <% }); %>
    <%}%> 
    
        
    
</ul>
    <div> Data Entered as <%= userValue %> </div>
</div>

</body>
</html>
