<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="container">
<h2>9Digital Coding Challenge</h2>
<p>Written in Node.js using the Express framework</p>
<p>Deployed on Heroku</p>
<p>Karl Li - 0433 424 799</p>
</div>

</body>
</html>
